<div class="aboutComponent">
    <h2 class="aboutHeading">About</h2>
    <p class="aboutDescription">Figma is a design platform for teams who build products together. Born on the Web, Figma helps teams create, share, test, and ship better designs from start to finish. Whether it’s consolidating tools, simplifying workflows, or collaborating across teams and time zones, Figma makes the design process faster, more efficient, and fun while keeping everyone on the same page.</p>
    <div class="websiteLinksBtn">
        <button type="submit" class="figmaWebDetails">
            <li class="buttonLinksA wurl"><a href="" class="websiteUrlText">Website URL</a></li>
            <li class="buttonLinksB flink">
                <a href="" class="figmaLink">Figma.com</a>
                <span class="booomrangIcon">
                    <img src="assets/Vector.svg" alt="">
                </span>
             </li>
        </button>
        <button type="submit" class="figmaWebDetails">
           <h2 class="fundingText">Funding via crunchbase</h2>
           <li class="buttonLinksB wurl"><a href="" class="websiteUrlText">Website URL</a></li>
           <li class="buttonLinksB flink">
               <a href="" class="figmaLink">Figma.com</a>
               <span class="booomrangIcon">
                   <img src="assets/Vector.svg" alt="">
               </span>
            </li>
        </button>
    </div>
</div>