<!-- <div class="container">
</div> -->
   <div class="navbarLinks">
      <ul>
         <li>
            <a class="navLinkLogo" href="#">
               <span class="navIconContainer">
                  <img src="assets/home.svg" alt="" class="navIcon">
               </span>Home
            </a>
         </li>
      </ul>
      <ul>
         <li>
            <a class="navLinkLogo" href="#">
               <span class="navIconContainer">
                  <img src="assets/network.svg" alt="" class="navIcon">
               </span>My network
             </a>
         </li>
      </ul>
      <ul>
         <li>
            <a class="navLinkLogo" href="#">
               <span class="navIconContainer">
                  <img src="assets/job.svg" alt="" class="navIcon"> 
               </span>Job offers
             </a> 
         </li>
      </ul>
      <ul>
         <li>
            <a class="navLinkLogo" href="#">
               <span class="navIconContainer">
                  <img src="assets/profile.svg" alt="" class="navIcon">
               </span>My profile
             </a>
         </li>
      </ul>
   </div>


   <!-- <a class="navLinkLogo" href="#">
      <span class="navIconContainer">
         <img src="assets/home.svg" alt="" class="navIcon">
      </span>Home
</a> 
<a class="navLinkLogo" href="#">
  <span class="navIconContainer">
     <img src="assets/network.svg" alt="" class="navIcon">
  </span>My network
</a> 
<a class="navLinkLogo" href="#">
  <span class="navIconContainer">
     <img src="assets/job.svg" alt="" class="navIcon"> 
  </span>Job offers
</a> 
<a class="navLinkLogo" href="#">
  <span class="navIconContainer">
     <img src="assets/profile.svg" alt="" class="navIcon">
  </span>My profile
</a>  -->