.navIconsContainer{
    /* background-color: orange; */
    display: flex;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
li {
    list-style: none;
    display: block;
    padding: 1px 0.5rem;
}
a {
    text-decoration: none;
}