<div class="navIconsContainer">
    <ul>
        <li>
            <a href="">
                <img src="assets/Nav icons-bell.svg" alt="NotificationIcon" class="icons">
            </a>
        </li>
        <li>
            <a href="">
                <img src="assets/Nav icons-message.svg" alt="MessageIcon" class="icons">
            </a>
        </li>
        <li>
            <a href="">
                <img src="assets/Nav icons-profilePic.svg" alt="ProfilePicIcon" class="icons">
            </a>
        </li>
        <li>
            <a href="">
                <img src="assets/Nav icons-smallDots.svg" alt="SmallDotsIcon" class="icons">
            </a>
        </li>
    </ul>
</div>