<div class="stickyNavbarComponent">
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">Overview</a></li>
    </ul>
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">About</a></li>
    </ul>
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">Products</a></li>
    </ul>
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">Posts</a></li>
    </ul>
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">Jobs</a></li>
    </ul>
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">People</a></li>
    </ul>
    <ul class="stickyNavElements">
        <li><a href="" class="stickyNavLinks">Videos</a></li>
    </ul>
</div>