<!-- <div class="container">
</div> -->
<div class="coverComponent">
    <div class="coverImageContainer">
         <img src="assets/Cover image.svg" alt="coverImg" class="coverImg">
    </div>
    <div id="figmaLogo">
        <img src="assets/Figma Icon.svg" alt="" class="figmaIcon">
    </div>
    <div class="coverContent">
        <h1 class="figmaHeading">Figma</h1>
        <h3 class="headingDescription">A design platform for teams who build products together.</h3>
         <span class="address">
             <h4 class="add">Design</h4>
             <h4 class="add">San Francisco, CA</h4>
             <h5 class="add ">101k followers</h5>
         </span>
         <li class="arrowText">See all 358 employee on LinkedIn
            <span class="arrow" width="10">
            </span>
        </li>
         <div class="buttonsContainer">
             <button type="submit" class="followBtn">Follow</button>
             <button type="submit" class="viewWebsiteBtn">Visit Website</button>
             <div class="ThreeDot">
                 <img src="assets/3dot.svg" alt="3DotIcon" class="ThreeDotIcon">
             </div>
         </div>
     </div>
 </div>