<div class="searchComponent">
  <input type="search" placeholder="Search" class="searchBox"> 













    <!-- <span class="searchIcon"></span> -->
   <!-- <i class="fas fa-search" style="font-size:40px; color: whitesmoke;"></i> -->
   <!-- <i class="fas fa-search fa-2x fa-color" style="font-size:40px;"></i> -->

   <!-- <div class="searchIconContainer">
     <img src="assets/akar-icons_search.svg" alt="searchIcon" class="searchIcon">
   </div> -->
   <!-- <span class="searchIcon">
    <i class="fas fa-search "></i>
   </span> -->
   
   <!-- <input type="search" placeholder="Search" class="searchBox">  -->
   <!-- <span class="searchIconAndBoxContainer">
    <span class="searchIcon">
       <img src="assets/search.svg" alt="">
    </span>
    <input type="search" placeholder="Search" class="searchBox"> 
  </span> -->
</div>